dist
node_modules
src-tauri/target
src-tauri/engine/target
src-tauri/gen
src-tauri/binaries
e2e/fixtures/simple/figs
public/*.svg
src/assets/*.svg
src/assets/themes/**/*.jsonc
*.log
src/lib/generated
src-tauri/mcp/views
embed-runtime/built
